body {
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

#workspace {
    max-height: 100vh;
}

#workspaceTopbar{
    height: 5.5vh;
}

#workspaceContainer{
    height: 80vh;
}

#workspacemenu {
    max-height: 95vh;
}

#workspacemenulist, #workspacemenuform {
    height: 95vh;
}

#workspacemenulist {
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#profileicon {
    padding: 13px;
    margin-left: 740px;
}

#topsearch {
    margin-top: 5px;
    margin-left: 10px;
}

#dropdownmenu{
    margin-top: 15px;
    margin-left: 570px;
}

#topbarlogo {
    margin-top: 2px;
    margin-left: 40px;
    width: 170px;
    height: 5vh;
}

#chatroomlist, #userlist, #dmlist {
    margin-left: 10px;
}

#chatroomheader:hover, #userheader:hover, #dmheader:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    background-color: rgb(235, 235, 235);
}

#listitem:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

#feeditem:hover {
    background-color: rgb(235, 235, 235);
}

#workspacemain {
    padding: 10px;
}

#userlistitem, #dmlistitem, #chatroomlistitem {
    color: dimgray;
}

#userlistitem:hover, #dmlistitem:hover, #chatroomlistitem:hover, #popupclose:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}

#feeditemname {
    color: rgb(255, 0, 0);
}

#feeditemname:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#channeljoin, #createchannel{
    cursor: pointer;
    margin-left: 5px;
}

#channeljoin:hover , #createchannel:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(235, 235, 235);
}

#joinlist {
    cursor: pointer;
}

#threedots {
    color: white;
}

#joinlist:hover, #threedots:hover {
    color: rgb(255, 0, 0);
}

#editprofileportal {
    height: auto;
    width: 800px;
}