body {
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

#workspace {
    max-height: 100vh;
}

#workspaceTopbar{
    height: 5vh;
}
#workspaceContainer{
    height: 80vh;
}

